<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Your Tree</title>
    <link rel="stylesheet" href="/public/userlogin/loginstyle.css" />
  </head>
  <body>
    <% if(messages. error){ %> 
      <%= messages.error  %> 
      <% } %> 
    <div class="login-page"></div>

    <div class="form">
      <form action="/login" method="post" class="login-form">
        <h1 class="title">GROW YOUR FOREST</h1>
        <input name="name" id="name" type="text" placeholder="Username" value="" required/>
        <input name="password" id="pw" type="password" placeholder="Password" value="" required/>
        <button type="submit" id="login_button">LOG IN</button>
        <!-- <a class="message" href="/public/userlogin/forgotpass.html">Forgot Password?</a> -->
      </form>    
    </div>

    <div class="signup-block"></div>
    <form class="signup-form">
      <p class="note">Don't have an account?</p>
      <a class="signup" href="/signup">Sign up</a>

      
  </body>
</html>