<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grow Your Forest_Forgot Password</title>
    <link rel="stylesheet" href="/public/css/register.css" />
  </head>

  <body>
    <!--Signup block-->
    <div class="signup"></div>
    <div class="form">
      <form class="signup-form">
        <h1 >GROW YOUR FOREST</h1>
        <input type="text" placeholder="Create Your Username" />
        <input type="password" placeholder="Create Your Password" />
        <input type="email" placeholder="Enter Your Email" />
        <button>SIGN UP</button>
      </form>
    </div>

    <!--Log-in block-->
    <form class="Login-block">
      <p>Have an Account?</p>
      <a href="login.html">Log in</a>
    </form>
  </body>
</html>
