<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/userlogin/signup.css" />
  </head>
  <body>
    <!--Signup block-->
    <div class="signup"></div>
    <div class="form">
      <form action="/signup" method="POST" class="signup-form">
        <h1>GROW YOUR FOREST</h1>
        <input
          name="name"
          id="name"
          type="text"
          placeholder="Create Your Username"
          required
        />
        <input
          name="pw"
          id="pw"
          type="password"
          placeholder="Create Your Password"
          required
        />
        <input
          name="mail"
          id="mail"
          type="email"
          placeholder="Enter Your Email"
          required
        />
        <button type="submit" id="signup_button">SIGN UP</button>
      </form>
    </div>

    <!--Log-in block-->
    <form class="Login-block">
      <p>Have an Account?</p>
      <a href="/login">Log in</a>
    </form>
  </body>
</html>
