/* Adding fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@500&display=swap");

body,
html {
  height: 100%;
  margin: 0;
}

/* The background image */
.bg {
  /* The image used */
  background-image: url(/media/images/homebackground.png);
  z-index: -1;

  /* Full height */
  height: 160vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The logo placement and size */
.logo {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 110px;
  height: 110px;
}

/* The sidebar button */
.menubtn {
  border-radius: 100px;
  background-color: #0b544e;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px 20px 10px 20px;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  text-decoration: none;
  color: rgb(253, 253, 253);
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.menubtn:hover {
  background-color: #0f7970;
}

/* ------- SIDEBAR  ------- */

/* The side navigation menu */
.sidebar {
  max-height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top of other elements */
  top: 0; /* Stay at the top */
  bottom: 0;
  right: 0; /* On right side of page */
  background-color: rgb(255, 255, 255, 0.6);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll; /* Always shows vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 40px; /* Place content 40px from the top */
  padding-bottom: 20px;
}

/* The sidebar user profile link */
/* User Profile pop up <--------------------------------------------------------*/
/* The Modal (background) */

.modal-btn {
  position: relative;
  background-color: transparent;
  color: #0b544e;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin-left: 75px;
  padding-bottom: 0px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.modal-btn:hover {
  color: #0f7970;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  right: 0;
  top: 0;
  width: 60%;
  background-color: #95c5cefb;
  height: 100%;
}

/* Modal Content */
.modal-content {
  text-align: center;
}

/* The Close Button */
.close {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 120px;
  font-family: "Dosis", sans-serif;
  right: 20px;
  top: 10px;
  padding: 0;
  margin: auto;
  height: 50px;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  /* justify-content: space-around; */
  line-height: 35px;
}

.close:hover,
.close:focus {
  color: #0f7970;
  text-decoration: none;
  cursor: pointer;
}

.signout {
  position: absolute;
  top: 15px;
  left: 40px;
  border: none;
  color: white;
  /* color: #0b544e; */
  font-size: 55px;
  background-color: transparent;
  transition: 0.2s;
}
.signout:hover,
.signout:focus {
  color: #0f7970;
  cursor: pointer;
}

.modal-content img {
  width: 400px;
  height: 400px;
  padding: 45px 0 20px;
}
/* To change username */
.username {
  padding-top: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #0b544e;
}

/* Password */
.password {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding: 20px 0 45px;
  color: #0b544e;
}

/* pop up>----------------------------------------------------------------------- */

/* ------- ACCORDION  ------- */

/* The sidebar accordion */
.accordion {
  width: 80%;
  max-width: 800px;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

/* The accordion individual items */
.accordion-item {
  background-color: #0b544e;
  margin: 0 0 30px;
  border-radius: 15px;
}

/* The accordion item header */
.accordion-item-header {
  color: rgb(253, 253, 253);
  padding: 40px;
  min-height: 20px; /* edit this later on */
  line-height: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.accordion-item-header:hover {
  color: rgb(133, 167, 146);
}

/* Symbol on accordion item header when not active */
.accordion-item-header::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 40px;
}

/* Symbol on accordion item header when active */
.accordion-item-header.active::after {
  content: "\2212";
}

/* Accordion header icons */
.accordion-item-header i {
  position: absolute;
  left: 50px;
}

.accordion-item-header i.goals {
  font-size: 70px;
  bottom: 15px;
}

.accordion-item-header i.daily {
  font-size: 60px;
  bottom: 20px;
}

.accordion-item-header i.time {
  font-size: 70px;
  bottom: 15px;
}

.accordion-item-header i.music {
  font-size: 60px;
  bottom: 20px;
}

.accordion-header-text {
  font-size: 35px;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Container of accordion item body */
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* Content of accordion item body */
.accordion-item-body-content {
  padding: 20px;
  /* line-height: 5px; */
}
/* .accordion-item-body-content-longterm {
  background-color: rgb(253, 253, 253, 0.8);
  margin: 0px 35px 35px;
  border-radius: 10px;
  align-items: center;
} */

/* ---------- TIMER FUNCTION ------------- */

#container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 0.8fr);
  background-color: rgb(253, 253, 253, 0.8);
  border-radius: 10px 10px 0 0;
}

/*timers*/

.label {
  padding: 50px 0;
  font-family: "Dosis", sans-serif;
  color: #0b544e;
  align-self: center;
  justify-self: center;

  font-size: 30px;
  font-weight: bold;
}

#work {
  grid-area: 1 / 2 / 1 / 2;
}
#break {
  grid-area: 1 / 4 / 1 / 4;
}
#cycles {
  grid-area: 1 / 3 / 1 / 3;
}

.timer {
  color: #0b544e;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

#counter {
  grid-area: 2 / 3 / 2 / 3;
  color: rgb(133, 167, 146);
}

#work-timer {
  grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
  grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.timer-btn {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 35px;
  font-size: 20px;
  background-color: #0b544e;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 10px;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.timer-btn:hover {
  background-color: #0f7970;
}

#start {
  grid-area: 3 / 2 / 3 / 2;
}

#reset {
  grid-area: 3 / 3 / 3 / 3;
}

#stop {
  grid-area: 3 / 4 / 3 / 4;
}

.message-box {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #0b544e;
  padding: 5px 0 30px;
  text-align: center;
  position: relative;
  background-color: rgb(253, 253, 253, 0.8);
  margin: 0 auto 30px;
  width: 90%;
  border-radius: 0 0 10px 10px;
}

/* ---------- TIMER FUNCTION ------------- */

/* ------- MUSIC PLAYER FUNCTION  ------- */

/* Music function box */
.music-box {
  background-color: rgb(253, 253, 253, 0.8);
  width: 90%;
  margin: 0 auto 30px;
  border-radius: 10px;
}

/* Music function box header */
.music-box-header {
  color: #0b544e;
  text-align: center;
  position: relative;
  padding: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 35px;
}

/* Music function box container */
.music-box-cont {
  color: #0b544e;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Music function individual icons */
#musicIconOne {
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
}

#musicIconTwo {
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
}

#musicIconThree {
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
}

#musicIconFour {
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover effect over music buttons */
#musicIconOne:hover {
  opacity: 0.8;
}
#musicIconTwo:hover {
  opacity: 0.8;
}
#musicIconThree:hover {
  opacity: 0.8;
}
#musicIconFour:hover {
  opacity: 0.8;
}

.music-control-cont {
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------- SIDEBAR CLOSE BUTTON  ------- */

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: -25px;
  right: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 125px;
  text-decoration: none;
  color: #0b544e;
  margin-left: 50px;
  transition: 0.3s;
}

/* Hover effect on close button */
.sidebar .closebtn:hover {
  color: #0f7970;
}

/* Footer */
.footer {
  background-color: #0b544e;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(253, 253, 253);
  padding: 15px;
  text-align: center;
}

/* alert messages */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* On smaller screens, where height is less than 450px, change style of sidebar (less padding and smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
