@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

/*background*/
/* body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/media/images/loginbackground.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
} */

body,
html {
  height: 100%;
  margin: 0;
}

/* The background image */
.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url(/media/images/loginbackground.png);

  /* Behind other elements */
  z-index: -1;

  /* Full height */
  height: 120vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The logo placement and size */
.logo {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 110px;
  height: 110px;
}

/* Signup block */
/* .signup { */
  /* width: 360px; */
  /* width: 40%;
  padding: 0;
  margin: auto;
  z-index: l;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5); */
/* } */

/* Move block into transparent background*/
.form {
  /* border-radius: 15px; */
  /* position: relative; */
  /* z-index: l; */
  /* background: rgba(255, 255, 255, 0.5); */
  /* max-width: 360px; */
  margin: 0 auto;
  /* padding: 20px 45px 20px; */
  text-align: center;
  width: 40%;
  padding: 0;
  margin: auto;
  z-index: l;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}

/*title*/
.form h1 {
  color: rgb(40, 78, 121);
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 35px;
  padding: 10px 0;
}

/*User info box*/
.form input {
  border-radius: 40px;
  font-family: "Open sans", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/* "Signup" button */
.form input[type=submit] {
  margin: 10px 0 30px;
  position: relative;
  border-radius: 40px;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(40, 78, 121);
  width: 70%;
  border: 0;
  padding: 15px;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.form input[type=submit]:hover {
  background-color: rgb(100, 145, 197);
}

/*Login containter */
.login-block {
  border-radius: 15px;
  position: absolute;
  z-index: l;
  background: rgba(255, 255, 255, 0.5);
  width: 40%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -70px;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*note label*/
.note {
  position: relative;
  font-family: "Open sans", sans-serif;
  /* float: left; */
  /* bottom: 10px; */
  margin-right: 10px;
  color: rgb(40, 78, 121);
}

/*link*/
.login {
  position: relative;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  /* float: right; */
  /* bottom: 4.5px; */
  /* right: 0px; */
  color: rgb(40, 78, 121);
}

.login:hover {
  color: rgb(100, 145, 197);
}

/* Footer */
.footer {
  background-color: #0b544e;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(253, 253, 253);
  padding: 15px;
  text-align: center;
}

/* Alert Messages */
.alert-danger {
  color: #c5120f;
  background-color: #fab7b7;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  padding: 15px;
  width: 20%;
  /* float: right; */
  right: 0;
  position: relative; 
  top: 40px;
  border-radius: 10px 0 0 10px;
  margin: 0 0 20px auto;
}

.alert-success {
  color: #1c971e;
  background-color: #b2e79d;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  padding: 15px;
  width: 20%;
  right: 0;
  position: absolute;
  top: 40px;
  border-radius: 10px 0 0 10px;
}