/* Adding fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@500&display=swap');


/*  ----- DAILY TASKS FUNCTION-----  */

/*  -----container-----  */
.container-daily{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

/*  -----header-----  */
.header{
  height: 150px;
  background-color:rgb(253, 253, 253, 0.8);
  border-radius: 15px 15px 0 0;
  position: relative;
  border-bottom: 3px solid rgba(0,0,0, 0.1);
}

.clear{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.clear i{
  font-size: 30px;
  color: #0b544e;
  transition: 0.1s;
}

.clear i:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
  transform: rotate(45deg);
}

#date{
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: #0b544e;
  font-size: 30px;
  font-family: 'Dosis', sans-serif; 
  font-weight: 600;
}

.display{
  position: absolute;
  height: 45px;
  width: 99%;
  top: 110px;
}

.display i.All{
  position: absolute;
  right: 70px;
  font-size: 25px;
  font-weight: bold;
  color: #0b544e;
  bottom: 17px;
  transition: 0.2s;
  cursor: pointer;
}
.display i.All:hover{
  cursor: pointer;
  color: #0f7970;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.display i.fulfill{
  position: absolute;
  right: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #0b544e;
  bottom: 17px;
  transition: 0.2s;
}
.display i.fulfill:hover{
  color: #0f7970;
  cursor: pointer;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.display i.unfinished{
  position: absolute;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #0b544e;
  bottom: 17px;
  transition: 0.2s;
}
.display i.unfinished:hover{
  color: #0f7970;
  cursor: pointer;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

/*  -----content-----  */
.content{
  height: 260px;
  max-height: 350px;
  background-color: rgb(253, 253, 253, 0.8);
  overflow: auto;
}

.content ul{
  padding: 0;
  margin: 0;
}

.fa-check-circle{
  color: white;
}

.item{
  font-size: 15px;
  color: #000;
  height: 45px;
  min-height: 45px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  list-style: none;
  position: relative;
  padding: 0;
  margin: 16px 15px;
  background-color: #0b544e;
  border-radius: 8px;
}

.item i.co{
  position: absolute;
  font-size: 25px;
  padding-left: 5px;
  left: 15px;
  top: 10px;
  color: white;
}

.item i.co:hover{
  cursor: pointer;
}

.item input.text{
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
  left: 60px;
  top: 10px;
  background-color: transparent;
  width: 78%;
  overflow: hidden;
  border: none; 
  font-family: 'Dosis', sans-serif; font-weight: 500;   
}

.item input:disabled{
  color: white;
  font-size: 20px;
  font-family: 'Dosis', sans-serif; font-weight: 400;
}

.item i.de{
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.item i.de:hover{
  color: rgba(255, 66, 66, 0.973);
}

.lineThrough{
  text-decoration: line-through;
  color: rgb(184, 181, 181) !important;
}

::-webkit-scrollbar{
  display: none;
}

/* ------ add item ------*/
.add-to-do{
  position: relative;
  width: auto;
  height: 40px;
  background-color: rgb(253, 253, 253, 0.8);
  padding: 10px;
  border-top: 3px solid rgba(0,0,0, 0.1);
  border-radius: 0 0 15px 15px;
}

.add-to-do i{
  position: absolute;
  font-size: 40px;
  color: #0b544e;
  left: 15px;
  transition: 0.2s;
}

.add-to-do i:hover{
  cursor: pointer;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.add-to-do input{
  position: absolute;
  left: 65px;
  height: 35px;
  width: 83%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  font-family: 'Dosis', sans-serif; font-weight: 500; 
}

.add-to-do input::placeholder{
  color: #585858;
  font-family: 'Dosis', sans-serif; font-weight: 600; 
  font-size: 20px;
}