/* Adding fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@500&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color:rgba(0,0,0, 0.1);
}
/*  -----container-----  */
.container{
  padding: 10px;
  width: 400px;
  margin: 0 auto;
}
/*  -----header-----  */
.header{
  width: 400px;
  height: 220px;
  background-color:#267c54;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.clear{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.clear i{
  font-size: 30px;
  color: #fff;
  transition: 0.1s;
}

.clear i:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

#date{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-size: 25px;
  font-family: 'Dosis', sans-serif; 
}

.display{
  position: absolute;
  height: 45px;
  width: 400px;
  top: 160px;
}

.display i.All{
  position: absolute;
  right: 60px;
  font-size: 25px;
  color: #fff;
  bottom: 13px;
  transition: 0.2s;
}
.display i.All:hover{
  cursor: pointer;
  color: rgb(176, 199, 192);
}

.display i.fulfill{
  position: absolute;
  right: 35px;
  font-size: 25px;
  color: #fff;
  bottom: 13px;
  transition: 0.2s;
}
.display i.fulfill:hover{
  cursor: pointer;
  color: rgb(176, 199, 192);
}

.display i.unfinished{
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: #fff;
  bottom: 13px;
  transition: 0.2s;
}
.display i.unfinished:hover{
  cursor: pointer;
  color: rgb(176, 199, 192);
}

/*  -----content-----  */
.content{
  width: 400px;
  height: 250px;
  max-height: 350px;
  background-color: rgb(253, 253, 253, 0.8); 
  border-radius: 0 0 0 0;
  overflow: auto;
}

.content ul{
  padding: 0;
  margin: 0;
}

.fa-check-circle{
  color: #0b544e;
}

.item{
  font-size: 15px;
  color: #000;
  width: 400px;
  height: 45px;
  min-height: 45px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  list-style: none;
  position: relative;
  padding: 0;
  margin: 5px 0;
}

.item i.co{
  position: absolute;
  font-size: 25px;
  padding-left: 5px;
  left: 15px;
  top: 10px;
}

.item i.co:hover{
  cursor: pointer;
}

.item input.text{
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  left: 50px;
  top: 10px;
  background-color: rgb(253, 253, 253, 0.8);
  width: 285px;
  overflow: hidden;
  border: none; 
  font-family: 'Dosis', sans-serif; font-weight: 500;   
}

.item input:disabled{
  color: #000;
  font-size: 20px;
  font-family: 'Dosis', sans-serif; font-weight: 500;
}

.item i.de{
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
}

.item i.de:hover{
  color: rgb(59, 52, 158);
  cursor: pointer;
}

.lineThrough{
  text-decoration: line-through;
  color: #ccc !important;
}

::-webkit-scrollbar{
  display: none;
}

/* ------ add item ------*/
.add-to-do{
  position: relative;
  width: auto;
  height: 45px;
  background-color: rgb(253, 253, 253, 0.8);
  padding: 10px;
  border-top: 1px solid rgba(0,0,0, 0.1);
  border-radius: 0 0 15px 15px;
}

.add-to-do i{
  position: absolute;
  font-size: 40px;
  color: #107c73;
}

.add-to-do i:hover{
  cursor: pointer;
  text-shadow: 1px 2px 3px #0b544e;
}

.add-to-do input{
  position: absolute;
  left: 50px;
  height: 35px;
  width: 320px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  font-family: 'Dosis', sans-serif; font-weight: 500; 
}

.add-to-do input::placeholder{
  color: #106d59;
  font-family: 'Dosis', sans-serif; font-weight: 500; 
  font-size: 20px;
}