body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/loginbackground.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: l;
  background: rgba(255, 255, 255, 0.5);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(40, 78, 121);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

.message {
  font-family: "Roboto", sans-serif;
  font-size: 13;
  cursor: pointer;
}

.title {
  font-family: "Roboto", sans-serif;
  color: rgb(40, 78, 121);
}

.signup-block {
  width: 360px;
  padding: 0px;
  margin: auto;
}
.signup-form {
  position: relative;
  z-index: l;
  background: rgba(255, 255, 255, 0.5);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
}
