/* Adding fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Open+Sans:wght@500&display=swap");

body,
html {
  height: 100%;
  margin: 0;
}

/* The background image */
.bg {
  /* The image used */
  background-image: url(/images/homebackground.png);

  /* Full height */
  height: 160vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The logo placement */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 110px;
  height: 110px;
}

/* The sidebar button */
.menubtn {
  border-radius: 100px;
  background-color: #0b544e;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px 20px 10px 20px;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  text-decoration: none;
  color: rgb(253, 253, 253);
  cursor: pointer;
  border: none;
}

/* The side navigation menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top of other elements */
  top: 0; /* Stay at the top */
  right: 0; /* P z-index: 1;lace on right side of page */
  background-color: rgb(255, 255, 255, 0.6);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll; /* Always shows vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 40px; /* Place content 40px from the top */
}

/* The sidebar user profile link */
.sidebar a.user-profile {
  padding: 25px 5px 10px 45%;
  text-decoration: none;
  color: #0b544e;
  display: block;
  transition: 0.3s;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.accordion-item-body-content {
  background-color: rgb(253, 253, 253, 0.8);
  margin: 0px 35px 35px;
  border-radius: 10px;
}
.accordion-item-body-content-longterm {
  background-color: rgb(253, 253, 253, 0.8);
  margin: 0px 35px 35px;
  border-radius: 10px;
  align-items: center;
}

/* User Profile pop up <--------------------------------------------------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #9bc4b8;
  margin: auto;
  padding: 10px;
  width: auto;
  height: auto;
  margin-left: 566.5px;
  margin-top: -66px;
  border-radius: 10px;
  text-align: center;
}
.modal-content img {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* To change username */
.username {
  padding-top: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #0b544e;
}
.modal-btn {
  background-color: transparent;
  color: #0b544e;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding-right: 50px;
  padding-left: 65px;
  padding-bottom: 15px;
  outline: none;
  border: none;
}
/* Password */
.password {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  color: #0b544e;
}
/* The Close Button */
.close {
  background-color: transparent;
  color: #0b544e;
  border: none;
  font-size: 100px;
  font-family: "Dosis", sans-serif;
  margin-left: 600px;
  margin-top: -600px;
  top: -500px;
}
.signout {
  margin-left: -590px;
  border: none;
  color: #0b544e;
  font-size: 40px;
  background-color: transparent;
}
.signout:hover,
.signout:focus {
  color: rgb(133, 167, 146);
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: rgb(133, 167, 146);
  text-decoration: none;
  cursor: pointer;
}
/* pop up>----------------------------------------------------------------------- */

/* The sidebar accordion */
.accordion {
  width: 80%;
  max-width: 800px;
  margin-top: 35px;
  margin-left: 10%;
  margin-right: 10%;
}

/* The accordion individual items */
.accordion-item {
  background-color: #0b544e;
  margin: 35px 0;
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
}
/* <-----Timer function-------------------------- */

#container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
  font-size: 100px;
  font-family: "Dosis", sans-serif;
  color: #0b544e;
  align-self: center;
  justify-self: center;

  font-size: 30px;
  font-weight: bold;
}

#work {
  grid-area: 1 / 2 / 1 / 2;
}
#break {
  grid-area: 1 / 4 / 1 / 4;
}
#cycles {
  grid-area: 1 / 3 / 1 / 3;
}

.timer {
  color: #0b544e;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

#counter {
  grid-area: 2 / 3 / 2 / 3;
  color: rgb(133, 167, 146);
}

#work-timer {
  grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
  grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: #0b544e;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 10px;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #0f7970;
}

#start {
  grid-area: 3 / 2 / 3 / 2;
}

#reset {
  grid-area: 3 / 3 / 3 / 3;
}

#stop {
  grid-area: 3 / 4 / 3 / 4;
}

/* -------------Timer function---------------------------> */

/* The accordion item header */
.accordion-item-header {
  color: rgb(253, 253, 253);
  padding: 35px;
  min-height: 20px; /* edit this later on */
  line-height: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.accordion-item-header:hover {
  color: rgb(133, 167, 146);
}

/* Symbol on accordion item header when not active */
.accordion-item-header::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 40px;
}

/* Symbol on accordion item header when active */
.accordion-item-header.active::after {
  content: "\2212";
}

/* Container of accordion item body */
.accordion-item-body {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}

/* Content of accordion item body */
.accordion-item-body-content {
  /* color: rgb(253, 253, 253); */
  padding: 20px;
  line-height: 5px;
  overflow: hidden;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 125px;
  text-decoration: none;
  color: #0b544e;
  margin-left: 50px;
  transition: 0.3s;
  margin-top: -20px;
}

/* Hover effect on close button */
.sidebar .closebtn:hover {
  color: rgb(133, 167, 146);
}

/* Footer */
.footer {
  background-color: #0b544e;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(253, 253, 253);
  padding: 8px;
  text-align: center;
}

/* On smaller screens, where height is less than 450px, change style of sidebar (less padding and smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
